.coverage/**
.github/**
.vscode/**
.vscode-test/**
resources/**
node_modules/**
out/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/test/**
**/*.map
**/*.ts
**/*.zip
.nvmrc
.gitignore
.yarnrc
.prettierrc.json
.prettierignore*
webpack.config.js
jest.config.js
